<section>
  <div class="page-header">
    <h1>Skillsets</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="skillset in vm.skillsets"
       data-ui-sref="skillsets.view({ skillsetId: skillset._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="skillset.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="skillset.user" data-ng-bind="skillset.user.displayName"></span>
        <span data-ng-if="!skillset.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="skillset.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.skillsets.$resolved && !vm.skillsets.length">
    No Skillsets yet, why don't you <a data-ui-sref="skillsets.create">create one</a>?
  </div>
</section>
